*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: fl;
    background-color: #FFFFFF;
    z-index: 10;
}
nav div{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav div .icon{
    margin-left: 10px;
    padding: 17px;
    display: inline-flex;
}

.nav-items{
   display: inline-flex;
    margin-left: 20px;
}
.nav-items ul{
    display: inline-flex;
    align-items:center;
    justify-content: space-between;
    gap: 35px;
    
}
.nav-items ul li{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-items ul a{
    font-weight: lighter;
    width: 100%;
    text-decoration: none;
    color: #202124;
    font-size: 14px;
}
.leftItem{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -5px;
}
.leftItem div div p{
    width: 100%;
    padding: 15px;
    font-size: 14px;
}
.leftItem div div{
    width: 140px;
    height: 40px;
}
.leftItem div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top:8px;
}
.leftItem div div a{
    width: 100%;
    text-decoration: none;
    color: #1a73e8;
}
.leftItem div .admin{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftItem div .contact{
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftItem div .contact a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftItem div .start{
    border-radius: 5px;
    background-color: #1a73e8;
}
.leftItem div .start a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Section one  */

.sec1{
    background-color: #F8F9FA;
    max-height: 490px;
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.sec1 .left img{
   width: 100%;
   max-height: 490px;
   padding: 0;
   margin: 0;
   transform: scaleX(1.34);
 
}
.sec1 .left{
    overflow: hidden;
}

.sec1 .right{
   
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;

}
.sec1 .right h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202124;
    font-size: 56px;
    gap: 20px;
}
.sec1 .right h2{
    color: #5F6368;
    font-size: 25px;
    font-weight: unset;
}
.sec1 .right p{
    max-width: 540px;
    color: #606469;
    font-size: 18px;
}
.sec1 .right div{
    width: 160px;
    height: 50px;
    background-color: #1a73e8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 .right div a{
    text-decoration: none;
}
.sec1 .right div p{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Section 2 */

.sec2{
    margin-top: 50px;
    background-color: #FFFFFF;
}

.sec2 .left img{
 transform: none;
 padding: 50px;  
 max-width: 75%; 
height: 350px;
}
.sec2 .left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.sec2 .right h2{
   
    max-width: 550px;
    color: #202124;
    font-size: 35px;
}
.sec2 .right{
    display: flex;
    align-items: flex-end;
}


/* Section Three */
.sec3 div{
    margin: 80px 0px;

}

.sec3 .left img{
    max-height: 300px;
    max-width: 570px;
    transform: none;
}
.sec3 .left{
    display: flex;
    justify-content:flex-end;
}
.sec3 .right h2{
    color: #202124;
    font-size: 35px;
    max-width: 470px;
}
.sec3 .right p{
    max-width: 530px;
}

/* Section four */
.sec3-box .box-content{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    gap: 70px;
}

.sec3-box .box-content div{
    max-width: 340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sec3-box .box-content div h5{
    color: #202124;
    font-size: 23px;

}
.sec3-box .box-content div p{
    color: #5F6368;
    margin-top: 10px;
    line-height: 1.5;
    max-width: 330px;
    font-size: 18px;
}

/* Section five */
.sec5{
    max-height: 900px;
    margin-top: 100px;
    width: 100%;
    grid-template-rows: 590px;
   
}

.sec5 .left img{
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    transform: scaleY(1.4);
}
.sec5 .right{
    background-color: #FF4829;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}

.sec5 .right h4{
    color: #FFFFFF;
    font-size: 25px;
    max-width: 530px;
}
.sec5 .right p{
    color: #FFFFFF;
}
.sec5 .right a{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Six */
.sec5-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec5-head h2{
    font-size: 33px;
    margin-top: 70px;
}
.sec4-box .box-content .one h5{
    max-width: 270px;
}
.sec4-box .box-content .two h5{
    max-width: 250px;
}