*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}


/* Nav Bar */
nav .one div svg{
    width: 190px;
}
nav .one div svg:hover{
    cursor: pointer;
}
nav{
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 99;
    width: 100%;
    display: flex;
    height: 65px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.09);
    gap: 17px;
}
nav .one{
    margin-left: 25px;
}
nav .two{
    display: flex;
    gap: 37px;
    margin-left: 20px;
}

nav .two li{
    list-style: none;
    
}
nav .two a{
    text-decoration: none;
    font-size: 14px;
}
nav .two a:hover{
    color: black;
}
nav .three{
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 5px;
    gap: 12px;
}
nav .three div a{
    text-decoration: none;
    font-size: 14px;
}
nav .three div{  
    border-radius: 5px;
    background-color: #1a73e8;
    color: #1a73e8;
    padding: 12px 30px;
    transition: 0.2s;
}
nav .three .box1{
    background-color: #fff;
}
nav .three .box1:hover{
    background-color: #F1F3F4;
    cursor: pointer;
}
nav .three .box2{
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
nav .three .box2:hover{
    background-color: #F1F3F4;
    cursor: pointer;
    outline: 1px solid #1a73e8;
}
nav .three .box3 a{
    color: #fff;
}
nav .three .box3:hover{
    cursor: pointer;
    background-color: #174EA6;
}
@media(max-width:1250px){
    nav .two{
        border-top: 0.5px solid #c3c9cf;
        margin: 0;
        height: 60px;
        display: flex;
        padding: 20px;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 65px;
        background-color: #fff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }
    nav .three .box1{
        position: fixed;
        top: 73px;
        right: 10px;
        padding: 12px 10px;
    }
    .sec1{
        margin-top: 60px;
    }
}


/* Section one  */

.sec1{
    background-color: #F8F9FA;
    min-height: 490px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    grid-template-columns: 50% 50%;
}
.sec1 .left img{
   width: 100%;
   max-height: 490px;
   padding: 0;
   margin: 0;
   transform: scaleX(1.34); 
}


.sec1 .left{
    overflow: hidden;
    width: 50%;
}

.sec1 .right{
    width: 50%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;

}
.sec1 .right h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202124;
    font-size: 56px;
    gap: 20px;
}
.sec1 .right h2{
    color: #5F6368;
    font-size: 25px;
    font-weight: unset;
}
.sec1 .right p{
    max-width: 540px;
    color: #606469;
    font-size: 18px;
}
.sec1 .right div{
    width: 160px;
    height: 50px;
    background-color: #1a73e8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.sec1 .right div:hover{
    background-color: #174EA6;
}
.sec1 .right div a{
    text-decoration: none;
}
.sec1 .right div p{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Section 2 */

.sec2{
    margin-top: 50px;
    background-color: #FFFFFF;
}

.sec2 .left img{
 transform: none;
 padding: 50px;  
 max-width: 75%; 
height: 350px;
}
.sec2 .left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.sec2 .right h2{
   
    max-width: 550px;
    color: #202124;
    font-size: 35px;
}
.sec2 .right p a{
    color: #1a73e8;
    text-decoration: none;
}
.sec2 .right{
    display: flex;
    align-items: flex-end;
}


/* Section Three */
.sec3 div{
    margin: 80px 0px;

}

.sec3 .left img{
    max-height: 300px;
    max-width: 570px;
    transform: none;
}
.sec3 .left{
    display: flex;
    justify-content:flex-end;
}
.sec3 .right h2{
    color: #202124;
    font-size: 35px;
    max-width: 470px;
}
.sec3 .right p{
    max-width: 530px;
}

/* Section four */
.sec3-box .box-content{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    gap: 70px;
}

.sec3-box .box-content div{
    max-width: 340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sec3-box .box-content div h5{
    color: #202124;
    font-size: 23px;

}
.sec3-box .box-content div p{
    color: #5F6368;
    margin-top: 10px;
    line-height: 1.5;
    max-width: 330px;
    font-size: 18px;
}
.sec3-box .box-content .two p a{
    color: #1a73e8;
    text-decoration: none;
}

/* Section five */
.sec5{
    max-height: 900px;
    margin-top: 100px;
    width: 100%;
    grid-template-rows: 590px;
   
}

.sec5 .left img{
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    transform: scaleY(1.4);
}
.sec5 .right{
    background-color: #FF4829;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}

.sec5 .right h4{
    color: #FFFFFF;
    font-size: 25px;
    max-width: 530px;
}
.sec5 .right p{
    color: #FFFFFF;
}
.sec5 .right a{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.sec5 .right a svg{
    fill: #FFFFFF;
    transition: 0.3s;
}
.sec5 .right a:hover , .sec5 .right a:hover svg{
    color: #FFB5A9;
    fill: #FFB5A9;
}

/* Section Six */
.sec5-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec5-head h2{
    font-size: 33px;
    margin-top: 70px;
}
.sec4-box .box-content .one h5{
    max-width: 270px;
}
.sec4-box .box-content .two h5{
    max-width: 250px;
}
.sec4-box .box-content .two p a{
    color: #1a73e8;
    text-decoration: none;
}
/* Section Seven */
.sec-7-s{
    margin-top: 50px;
    padding: 100px;
}
.sec-7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.sec-7 h2{
    font-size: 35px;
}
.sec-7 p{
    color: #5F6368;
    font-size: 18px;
}
.sec-7 div{
    margin-top: 40px;
    background-color: #1a73e8;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.sec-7 div:hover{
    background-color: #174EA6;
}
.sec-7 a{
    color: #FFFFFF;
    text-decoration: none;
}

/* Section eight */
.sec-8-s{
    background-color: #F1F3F4;
}
.sec-8{
    padding: 100px;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-8 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.sec-8 div{
    margin: 10px;
}
.sec-8 .form form input{
    border: 1px solid transparent;
    width: 330px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    height: 50px;
    border-radius:4px;
    padding-left: 30px;
    transition: 0.2s;
}
.sec-8 .form form input:hover{
    border-color: black;
}
.sec-8 .form form input::placeholder{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
}
.sec-8 .form form select{
    border: 1px solid transparent;
    width: 330px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    height: 50px;
    border-radius:4px;
    padding-left: 20px;
    background-color: #FFFFFF;
    font-family: s;
    transition: 0.2s;
}
.sec-8 .form form select:hover{
    border-color: black;
}
.sec-8 .form form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sec-8 .form{
    margin-top: 40px;
}
.sec-8 .check{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 700px;
}
#checkbox1{
    width: 30px;
    height: 30px;
}
.sec-8 .check p{
    color:#737373;
    font-size: 11.5px;
}
.sec-8 .form form select{
    padding: 15px;
}
.sec-8 .term{
    margin-right: auto;
}
.sec-8 .term p{
    color:#737373;
    font-size: 11.5px;
}
.sec-8 .term a{
    text-decoration: none;
}
.sec-8 .content{
    max-height: 300px;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec-8 .btn div{
    height: 50px;
    width: 100px;
    background-color: #FFFFFF;
    color: #1a73e8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: border-color 0.3s;
}
.sec-8 .btn div:hover{
    border-color:  #1a73e8;
    background-color: #F1F3F4;
}
.sec-8 .btn div a{
    text-decoration: none;
}
.sec-8 .btn{
    margin-left: auto;
}

/* Section nine */
.sec-9 .two svg{
    height: 20px;
}
.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-left: 30px; 
    padding-right: 10px; 
    box-sizing: border-box;
}

.input-wrapper .icon {
    position: absolute;
    left: 10px; /* Adjust to position the icon inside the input field */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Ensures the icon doesn't block input field interaction */
    color: #ccc; /* Adjust the color of the icon */
}
.sec-9{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 50px 200px;
    padding-bottom: 30px;
    gap: 45px;
    border-bottom: 1px solid #DADCE0;

}
.sec-9 .one{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.sec-9 .one p{
    color: #6C6C6C;
}
.sec-9 .one p a{
    font-weight: bold;
    color: #7327b9;
}
.sec-9 .one p a:hover{
    color:#202124;
}
.sec-9 .one h1{
    font-size: 22px;
    font-weight: lighter;
}
.sec-9 .two svg{
    margin: 0;
    padding: 0;
    fill: #5F6368;
    height: 25px;
}
.sec-9 .two{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.sec-9 .input-wrapper{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sec-9 .input-wrapper input{
    background-color: #F1F3F4;
    border: none;
    height: 50px;
    width: 370px;
}
.sec-9 .input-wrapper input:active{
    background-color: #FFFFFF;
}
.sec-9 .input-wrapper i{
    color: #80868B;
}

/* footer main*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}
.footer div{
    
    width: 214px;
    height: 535px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.footer div a{
    text-decoration: none;
    color: #6C6C6C;
}
.footer div a:hover{
    color: #202124;
}
.footer div h5{
    font-size: 15px;
}
.footer div p{
    font-size: 13px;
}
.footer div .tp{
    margin-top: 35px;
}

/* Footer down */
.footer-l{
    margin: 0 130px;
    padding: 50px;
    margin-top: 30px;
    border-top: 1px solid  #DADCE0 ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer-l div a{
    text-decoration: none;
    color: #6C6C6C;
}
.footer-l div p{
    font-size: 15px;
}
.footer-l div{
   
     display: flex;
    align-items: center;
    justify-content: center;
}
.footer-l .left{
    gap: 30px;
}
.footer-l .right{
    margin-left: auto;
}
.footer-l .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.footer-l .left a:hover{
    color: #292A2D;
}

/* Chat Section */
.chat{
    background-color: #4284F4;
    border-radius: 50%;
    position: fixed;
    width: 60px;
    right: 25px;
    bottom: 25px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: center;
   }
.chat svg{
    fill: #ffff;
    width: 30px;
    height: 30px;
    
}
.chat:hover{
    cursor: pointer;
}

    /* chat close box */
.chat-box{
    background-color: #FFFFFF;
    position: fixed;
    bottom: 25px;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 10px;
    height: 100px;
    box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.chat-box p{
    font-size: 17px;
}

.close-box-svg{
    fill: #CACED2;
    height: 25px;
    width: 25px;
    position: fixed;
    bottom: 129px;
    right: 274px;
}
    /* chat pop */
.chat-pop{
    width: 380px;
    height: 550px;
    outline: 1px solid red;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #fff;
}
.chat-pop .one{
    position: absolute;
    top: 0;
    background-color: #1A73E8;
    border-radius: 20px 20px 0 0;
    height: 56px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.chat-pop .one:hover{
    cursor: pointer;
}
.chat-pop .one div .minus{
    position: absolute;
    right: 20px;
    fill: #fff;
    width: 20px;
    top: 15px;
}
.chat-pop .two{
    width: 100%;
    height: 450px;
}
.chat-pop .three{
    outline: 0.5px solid red;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-pop .three input{
    width: 320px;
    height: 100%;
    margin-left: 10px;
    border: none;
}
.chat-pop .three input:focus{
    outline: none;
}
.chat-pop .three input::placeholder{
    color: #c2c6c8;
    font-size: 16px;
}
.chat-pop .three svg{
    fill: #000000;
    width: 35px;
    padding: 2px;
    height: 40px;
    margin-top: 12px;
    border-radius: 50%;
    transition: 0.3s;
}
.chat-pop .three svg:hover{
    background-color: #F4F4F4;
    cursor: pointer;
}
.chat-pop .four{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-pop .four p{
    margin-top: 3px;
}

/* Adding media queries 1000px*/

@media(max-width: 1000px){
    body{
        padding: 1px;
    }
    .sec1{
        flex-direction: column;
        margin-top: 110px;
    }
    .sec1 .left{
        width: 100%;
        order: 1;
        
    }
    .sec1 .right{
        width: 100%;
        align-items: center;
        margin: 30px;
    }
    .sec1 .left img{
        height: 300px;
    }
    .sec2 .left{
        justify-content: center;
    }
    .sec3 .left{
        justify-content: center;
    }
    .sec3-box .box-content{
        gap: 50px;
    }
    .sec3-box .box-content div{
        width: 200px;
    }
    .sec5 .right{
        margin: 0;
    }
    .sec5 .left img{
        transform: scaleY(none);
        height: 450px;
    }
    .sec-9 .input-wrapper input{
        max-width:900px;
    }
    .sec-9 .input-wrapper{
        margin: 0;
        justify-content: center;
    }
    .sec-9{
        margin: 50px 0;
        justify-content: center;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }
    .footer div{
        height: 380px;
    }
    .footer .five{
        display: none;
    }
    .footer .low-width{
        height: 250px;
    }
    .footer-l{
        margin: 0 20px;
        margin-top: 10px;
    }

}
@media(max-width:1160px){
    .sec3-box .box-content{
        gap: 20px;
    }
    .footer .five{
        display: none;
    }
}
@media(max-width:1040px){
    .sec3-box .box-content{
        gap: 5px;
    }
}
@media(max-width:730px){
    .sec1 .right{
        margin: 20px;
    }
    .sec5 .right{
        margin: auto;
    }
    .sec-8 .content h2{
        font-size: 20px;
    }
    .sec-8 .form form input{
        width: 100%;
        flex-shrink: 1;
    }
    .sec-8 .form form select{
        width: 100%;
    }
    .sec-8 .form form{
        flex-direction: column;
        gap: 20px;
    }
    .sec-9{
        justify-content: center;
    }
    .sec-8 .form form .input{
        min-width: 580px;
    }
    .sec-8 .form form .select{
        min-width: 580px;
    }
    .sec1{
        margin-top: 120px;
    }
    
    
}
@media(max-width:600px){
    .sec1{
        margin: 0;
    }
    .sec1{
        margin-top: 60px;
    }
    .sec1 .right{
        padding-top: 30px;
    }
    .sec5 .right{
        margin: 0;
        justify-content: flex-start;
    }
    .sec1 .right h1{
        font-size: 40px;
    }
    .sec1 .right h1 svg{
        width: 40px;
    }
    .sec1 .right h2{
        font-size: 17px;
        margin: 0;
        padding: 5px;
    }
    .sec1 .right p{
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 30px;
    }
    .sec1 .right div{
        height: 40px;
        width: 140px;
    }
    .sec2 .right h2,.sec3 .right h2{
        font-size: 25px;
        margin: 0 30px;
    }
    .sec3-box .box-content{
        flex-direction: column;
        margin-left: 20px;
    }
    .sec3-box .box-content div p{
        width: 500px;
    }
    .sec3-box .box-content div{
        width: 500px;
    }
    .sec3-box .box-content div h5{
        font-size: 18px;
    }
    .sec3-box .box-content div .brgo{
        display: none;
    }
    .sec5-head h2{
        font-size: 20px;
    }
    .sec-8 .form form .input{
        min-width: 300px;
    }
    .sec-8 .form form .select{
        min-width: 300px;
    }
    .sec-8 .btn div{
        width: 80px;
        height: 40px;
    }
    .sec-8 .btn div p{
        font-size: 13px;
    }
    .sec-8 .content h2{
        font-size: 15px;
    }
    .chat-pop{
        bottom: 3px;
        right: 3px;
    }
    .sec-7 h2{
        font-size: 25px;
    }
    nav .two{
        display: none;
    }
    nav .three div{
        display: none;
    }
    .sec5 .left img{
       height: 350px;
    }
    .sec5-head{
        margin-top: 10px;
    }

    
}
@media(max-width:470px){
    .sec1 .right p{
        font-size: 15px;
        margin: 0 30px;
    }
    .sec-7 h2{
        align-self: flex-start;
    }
    .sec-7 div{
        width: 120px;
    }
    .sec-7 a{
        font-size: 16px;
    }
    .sec-7-s{
        padding: 50px;
    }
    .sec-9 .two svg{
        height: 15px;
    }
    .input-wrapper{
        width: 340px;
    }
    .sec-9 .one p{
        font-size: 15px;
    }
    .sec-9 .two{
        gap: 20px;
    }

}
@media(max-width:450px){
    .sec5 .left img{
        height: 150px;
    }
}
